<h1 class="rounded-3">{{ resultat }}</h1>

<input (keydown)="checkInputValue($event)" #nbre1 class="form-control mb-2" placeholder="Entrer le nombre 1" />
<input (keydown)="checkInputValue($event)" #nbre2 class="form-control mb-2" placeholder="Entrer le nombre 2"/>
<select #operateur class="form-control">
  <option value="+">Additon</option>
  <option value="-">Soustraction</option>
  <option value="*">Multiplication</option>
  <option value="/">Division</option>
</select>

<button (click)="calculate(+nbre1.value, +nbre2.value, operateur.value)" class="btn btn-primary mt-3">Calculer</button>
